services:
  mongodb:
    image: 'mongo:7.0'
    container_name: coffeeshop-mongodb
    environment:
      - 'MONGO_INITDB_DATABASE=coffeeshop'
    ports:
      - '27017:27017'
    volumes:
      - ./mongodb_data:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  mongodb_data:
    driver: local
